{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="registration">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 offset-lg-4 mb-3">
                <h1>Registration</h1>

                <form method="post">
                    {% include "parts/forms/simple_form.html" with form=form %}
                    <input class="btn btn-primary mt-3" type="submit" value="Sign up">
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock content %}