{% load widget_tweaks %}

{% for field in form %}
    <label>{{ field.label }}</label>
    {% if field|widget_type == "select" %}
        {{ field|add_class:'form-select' }}

<!--        <select class="form-select">-->
<!--            <option selected>-&#45;&#45;&#45;&#45;</option>-->
<!--            {% for option in field.choices %}-->
<!--            <option value="{{ option.value }}">{{ option.label }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->

    {% else %}
    <input type="{{ field.field.widget.input_type }}"
        name="{{ field.name }}"
        id="{{ field.auto_id }}"
        value="{% if field.initial %}{{ field.initial }}{% endif %}"
        class="form-control">
    {% endif %}

    {% if field.help_text %}
        <div class="form-text">
            {{ field.help_text }}
        </div>
    {% endif %}

    {% if field.errors %}
        <div class="mb-2">
            <ul>
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}

{% if form.non_field_errors %}
    <div class="mb-2">
        <ul>
            {% for error in form.non_field_errors %}
                <li class="text-danger small">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

