{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="products">
        <div class="container-lg p-3">
            <div class="row">
                {% for product in favorite_products_list %}
                  <div class="col-4">
                    <div class="card" style="width: 18rem;">
                      <a class="thumbnail p-3" href="{% url 'product_detail' product.id %}">
                        <img src={{product.image.url}} class="card-img-top">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                          <p class="card-text">{{product.price}} {{product.get_currency_display}}</p>
                          <div class="row justify-content-between">
                              <div class="col-2">
                                <form method="post" action="{% url 'add_to_cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ product.id }}" name="product">
                                    <input type="submit" class="btn btn-primary" value="Add to cart">
                                </form>
                              </div>

                              <div class="col-3">
                              {% if request.user in product.user_set.all %}
                                <form method="post" action="{% url 'star_product' 'remove' %}">
                                    {% csrf_token %}
                                    <button type="submit" name="product" value="{{ product.id }}">
                                        <img width="32" class="star" src="{% static 'images/star.jpg' %}" alt="Star">
                                    </button>
                                </form>
                              {% else %}
                                <form method="post" action="{% url 'star_product' 'add' %}">
                                    {% csrf_token %}
                                    <button type="submit" name="product" value="{{ product.id }}">
                                        <img width="32" class="star" src="{% static 'images/no_star.jpg' %}" alt="No-star">
                                    </button>
                                </form>
                              {% endif %}
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>

                {% empty %}
                <div>
                    <h3>You haven't added any favorite product yet</h3>
                </div>

                {% endfor %}

            </div>
        </div>
</section>


{% endblock content %}