{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="products">
        <div class="container-lg p-3">
            <div class="row">
                {% for product in product_list %}
                  <div class="col-4">
                    <div class="card" style="width: 18rem;">
                      <a class="thumbnail p-3" href="{% url 'product_detail' product.id %}">
                        <img src={{product.image.url}} class="card-img-top">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                          <p class="card-text">{{product.price}}</p>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a>
                      </div>
                    </div>
                  </div>
                    {% empty %}
                    <div>
                        <h3>Sorry, the product list is currently empty</h3>
                    </div>
                {% endfor %}
                <div class="col p-3 d-md-flex justify-content-md-end">
                    <a href="{% url 'product_list_export_csv' %}">Export product list (csv)</a>
                </div>
            </div>
        </div>
</section>


{% endblock content %}