{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="products">
    <div class="container-lg p-3">

        <div class="col text-center my-3">
                {% if search_data %}
                <h4>Search results for {% for k, v in search_data.items %} {{ k }} "{{ v }}", {% endfor %}</h4>
                {% else %}
                <h1>Our products</h1>
                {% endif %}
        </div>

        <div class="row">
            <div class="col-4 mb-2">
                <h4>Filter products</h4>
                <form>
                    {% include "parts/forms/simple_form.html" with form=filter.form %}
                    <button class="btn btn-primary my-2" type="submit">Filter</button>
                </form>
            </div>

            {% for product in page_obj %}
              <div class="col-4 mb-2">
                <div class="card" style="width: 18rem;">
                    {% if product.image %}
                    <a class="thumbnail p-3" href="{% url 'product_detail' product.id %}">
                        <img src={{product.image.url}} class="card-img-top">
                    </a>
                    {% endif %}
                  <div class="card-body">
                      {% if product.image %}
                        <h5 class="card-title">{{product.name}}</h5>
                      {% else %}
                        <a href="{% url 'product_detail' product.id %}">{{product.name}}</a>
                      {% endif %}
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.price}} {{product.get_currency_display}}</p>
                        <div class="row justify-content-between">
                          <div class="col-2">
                            {% include "parts/forms/add_to_cart.html" with product_id=product.id %}
                          </div>

                          <div class="update-favourite col-3">
                            {% include "parts/script_parts/update_favorite.html" with product=product request=request %}
                          </div>
                        </div>
                  </div>
                </div>
              </div>
                {% empty %}
                <div>
                    <h3>Sorry, the product list is empty</h3>
                </div>
            {% endfor %}

        {% include "parts/pagination.html" with page_obj=page_obj %}

        </div>
        {% if page_obj %}
        <div class="row">
            <div class="col p-3 d-md-flex justify-content-md-center">
                <a href="{% url 'product_list_export_csv' %}">Export product list (csv)</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/update_favourite.js' %}"></script>
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
    <script>
        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }

        $(document).ready(function () {
            $(".update-favorite").click(function () {
                update_favourite($(this))
            })
        })
    </script>
{% endblock scripts %}