{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="feedback">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 offset-lg-4 mb-3">
                <h1>Feedbacks</h1>

                <form method="post">
                    {% include "parts/forms/simple_form.html" with form=form %}
                    <input type="submit" value="Create Feedback" class="btn btn-primary my-2">
                </form>
            </div>

            <div class="d-none d-lg-block col-lg-4"></div>
              {% for feedback in feedbacks %}
                 <div class="col-12 col-lg-4">
                     <div class="card my-2">
                         <div class="card-body">
                             {% if feedback.user.get_short_name %}
                             <p>
                                 <span>User: {{feedback.user.get_short_name }}</span>
                             </p>
                             {% endif %}
                             <p>
                                 <span>Text: {{feedback.text}}</span>
                             </p>
                             <p>
                                 <span>Rating: {{feedback.rating}}</span>
                             </p>
                         </div>
                     </div>
                 </div>
              {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}