{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="cart">
        <div class="container">

            {% if order %}

            {% for product in order.products.all %}
            <div class="row">
                <div class="col-2 p-3">
                    <figure class="text-center">
                        <img width="100" class="product-image" src={{product.image.url}} >
                    </figure>
                </div>
                <div class="col p-3">
                      <a class="title" href="{% url 'product_detail' product.id %}">{{product.name}}</a>
                      <p class="text">Category: {{product.category}}</p>
                      <p class="text">{{product.description|truncatechars:120 }}</p>
                      <p class="text">Price: {{product.price}} UAH</p>
                      <p class="text">sku: {{product.sku}}</p>
                </div>
                <div class="col-2 p-3">
                    <a href="{% url 'remove_product' product.id %}">Remove this product</a>
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-2 p-3">Discount: </div>
                <div class="col p-3">
                    <form method="post">
                        {% csrf_token %}

                        <p>
                            <input name="Discount code" value="{{ field.code }}">
                            <input type="submit" value="Submit">
                        </p>



                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-2 p-3">Total amount: </div>
                <div class="col p-3">
                    <a> {{order.calculate_total_amount}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <a href="{% url 'remove_all_products' %}">Remove all products</a>
                </div>
            </div>

            {% else %}
                <div class="row justify-content-md-center">Your cart is empty</div>
            {% endif %}
        </div>
</section>


{% endblock content %}