{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="cart">
    <div class="container">

        {% if order %}

        <table class="table">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total price</th>
                <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
          <form method="post"
                action="{% url 'recalculate_cart' %}"
                id="recalculateCart">
                {% csrf_token %}
                {% for product_relation in products_relation.iterator %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% if product_relation.product.image %}
                             <a class="text-center" href="{% url 'product_detail' product_relation.product_id %}">
                                <img width="50" class="product-image" src={{product_relation.product.image.url}} >
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if product_relation.product.image %}
                              {{product_relation.product.name}}
                            {% else %}
                              <a href="{% url 'product_detail' product_relation.product.id %}">{{product_relation.product.name}}</a>
                            {% endif %}
                        </td>
                        <td>
                            <input class="form-control"
                                   type="number"
                                   name="quantity_{{ forloop.counter0 }}"
                                   value="{{ product_relation.quantity }}">
                            <input type="hidden"
                                   name="product_{{ forloop.counter0 }}"
                                   value="{{ product_relation.product_id }}">
                        </td>
                        <td><p class="text">{{product_relation.product.price}} {{product_relation.product.get_currency_display}}</p></td>
                        <td>{{product_relation.total_price}} {{product_relation.product.get_currency_display}}</td>
                        <td>
                            <input type="submit"
                                   class="btn btn-danger"
                                   value="X"
                                   formaction="{% url 'remove_product' product_relation.product_id %}">
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input class="btn btn-primary"
                                   type="submit"
                                   value="Recalculate">
                        </td>
                        <td></td>
                        <td>Total: {{ order.calculate_total_amount }} UAH</td>
                        <td>
                            <input type="submit"
                                   class="btn btn-danger"
                                   value="Delete all"
                                   formaction="{% url 'remove_all_products' %}">
                        </td>
                    </tr>
          </form>
          </tbody>
        </table>

        <div class="row">
            <div class="col-2 p-3">Discount code: </div>
            <div class="col p-3">
                <form method="post" action="{% url 'add_discount' %}">
                    {% csrf_token %}
                    <p>
                        <input name="discount" value="{{ field.code }}">
                        <input type="submit" class="btn btn-outline-success" value="Submit">
                    </p>
                    {% if order.discount %}
                    <h6>Discount "{{order.discount.code}}" is applied!</h6>
                    <input type="submit"
                                   class="btn btn-info"
                                   value="Click to cancel the discount"
                                   formaction="{% url 'cancel_discount' %}">
                    {% endif %}

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-2 p-3">Total amount: </div>
            <div class="col p-3">
                <a> {{order.calculate_with_discount}} UAH</a>
            </div>
        </div>
        <div class="row">
            <div class="col p-3 col d-flex justify-content-center">
                <form method="post" action="{% url 'order' %}">
                    {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Create the order">
                </form>
            </div>
        </div>

        {% else %}
            <div class="row justify-content-md-center">Your cart is empty</div>
        {% endif %}
    </div>
</section>


{% endblock content %}